<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.vinayaka.viadhfalkd"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Maze Game</name>

  <description>
      Maize Game
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Vinayaka
  </author>
<icon src="Letter V.png"/>
</widget>

